.user{
    flex: 5;
    padding: 20px;
    
}

.user-container{
    display: flex;
    gap: 20px;
    position: relative;
}

.user-edit-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.user-edit-title{
    font-size: 32px;
    margin-bottom: 20px;
}

.user-create-btn {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    color: white;
    border-radius: 5px;
    background-color: #018082;
    border: none;
}

.user-left{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.user-show{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-name-job{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.user-name{
    font-weight: 600;
}
.user-job{
    color: gray;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.account-details,.contact-details{
    color: gray;
}

.user-detail-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-right{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}


.user-input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}
.user-form{

    width: 50%;
}
.edit-form-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.user-form input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

.user-form input:focus{
    outline: none;
}
label{
    font-size: 14px;

}

.user-form-container{
    display: flex;
    justify-content: space-between;
}

.upload-image-container{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    gap: 20px;
}

.upload-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.user-update-btn{
    padding: 10px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-weight: 600;
}